/* The class names and style declarations below were added to help you get started.
If you would prefer, you can delete them and use your own classes and style declarations. */

.container {
  width: 225px;
  padding: 10px;
  padding-bottom: 35px;
  border: 1px solid var(--navy);
  border-radius: 10px;
  text-align: center;
}

.img {
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: var(--navy);
  color: var(--white);
}

.btn:hover {
  background-color: var(--orange);
  color: var(--black);
}

p.cat-talk {
  text-align: left;
  max-width: 200px;
}

h2.title {
  color: var(--navy);
}
