/* The class names and style declarations below were added to help you get started.
If you would prefer, you can delete them and use your own classes and style declarations. */

body {
  margin: 0;
}

.nav-list {
  width: auto;
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  text-align: center;
  margin: 0 auto;
}

.list-item {
  background-color: var(--green);
  height: 100px;
  width: 200px;
  list-style: none;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.nav-link:hover {
  background-color: var(--orange);
  color: var(--black);
}
